    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>REGISTRO DEL MATERIAL</title>
        <link rel="stylesheet" href="../vendor/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/material.css">
    </head>
    <body>

      <div class="container">
        <header class="py-3"><h1>INGRESO DE MATERIAL</h1>
          <div class="d-grid gap-2 col-3">
            <button class="btn btn-primary" type="button">Resgistro</button>
            
          </div>
      </header>
      <table class="table">
        <thead class="table-light">
         <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Descripción</th>
          <th>Fecha</th>
          <th>Precio por unidad</th>
          <th></th>
         </tr>
        </thead>
        <tbody>
        <tr>
          <td>Codo</td>
          <td>10</td>
          <td>20 pulgadas</td>
          <td>24/08/2023</td>
          <td>2.500</td>
          <td>
            <button class="btn btn-outline-info">Editar</button>
            <button class="btn btn-outline-danger">Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>

      </div>
     
        

         
        
    </body>
    </html>